@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->


<div style="position: relative; text-align: center; color: white;">
    <!-- Imaginea Hero -->
    <img src="~/Images/Stoma_Dent.jpeg" style="width: 1150px; height: 500px; border-radius: 10px;">

    <!-- Textul peste imagine -->
    <!--<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);background: rgba(255, 255, 255, 0.7); padding: 20px; border-radius: 10px;">
        <h1 style="color: #007bff;">Bine ai venit la Stoma Dent!</h1>
        <p style="color: #007bff;">Profesionalism și calitate pentru zâmbetul tău.</p>

    </div>-->
</div>
@*<div class="col-sm-2">
        <img src="~/Images/stomatologie1.jpg" alt="Imagine stânga" style="float: right; margin-right: 10px; width: 360px; height: 450px; padding: 20px;">

    </div>*@

<br />
<br />
<div class="col-sm-12">
    <div style="text-align: center;">
        @if (User.IsInRole("Admin"))
        {
            <div class="menu-title">Meniu Administrator</div>
            <div style="text-align: center;">
                <a href="@Url.Action("Index", "ApplicationUsers")" class="menu-link link-admin">Gestionare conturi</a>

            </div>
        }
        @if (User.IsInRole("Manager"))
        {
            <div class="menu-title">Meniu Medic</div>

            <div style="text-align: center;">
                <a href="@Url.Action("Index", "Proceduras")" class="menu-link link-proceduri">Lista de proceduri</a>

                <a href="@Url.Action("Index", "Servicius")" class="menu-link link-servicii">Lista de servicii</a>

                <a href="@Url.Action("Index", "Testimonials")" class="menu-link link-testimoniale">Lista de testimoniale</a>

                <a href="@Url.Action("Index", "Programares")" class="menu-link link-programari">Lista de programari</a>

                <a href="@Url.Action("Index", "ServiciuProceduras")" class="menu-link link-servicii-proceduri">Servicii și proceduri aferente</a>
            </div>
        }
        @if (User.IsInRole("Pacient"))
        {
            <div class="menu-title">Meniu Pacient</div>
            <div style="text-align: center;">
                <a href="@Url.Action("Index", "Testimonials")" class="menu-link link-pacient">Lista de testimoniale</a>
                <a href="@Url.Action("Index", "Programares")" class="menu-link link-pacient">Lista de programari</a>
                <!-- Adaugă aici alte linkuri pentru Pacient dacă este necesar -->
            </div>
        }
    </div>

    <div style="max-width: 900px; margin: 0 auto; padding: 20px;">
        <div style="background-color: aliceblue; border-radius: 10px; padding: 20px; margin-bottom: 20px;">
            <div style="margin-top: 0;">
                <h2 style="margin: 0;"><strong>Despre Stoma Dent și Serviciile sale</strong></h2>
            </div>
            <div style="font-size: 16px; line-height: 1.6;">
                <p>La cabinetul stomatologic Stoma Dent veți fi înconjurat de prietenie și profesionalism. Echipa noastră va răspunde prompt la problemele dumneavoastră dentare. Obiectivul nostru este să alegem cel mai bun plan de tratament, în acord cu dorințele și exigențele dumneavoastră. Vă vom prezenta opțiunile de tratament, vă vom explica în cele mai mici detalii metodele și etapele pe care le vom urma, apoi vom stabili soluțiile cele mai potrivite pentru dumneavoastră.</p>
            </div>
        </div>
        <div style="background-color: aliceblue; border-radius: 10px; padding: 20px; margin-bottom: 20px;">
            <div style="margin-top: 0;">
                <h2 style="margin: 0;"><strong>De ce să alegi Stoma Dent</strong></h2>
            </div>
            <div style="font-size: 16px; line-height: 1.6;">
                <ul style="list-style-type: none; padding-left: 0;">
                    <li><strong>Plan de tratament elaborat de toată echipa de medici specialiști</strong> - fiecare caz este discutat de toți medicii și apoi se prezintă pacientului cele mai bune opțiuni.</li>
                    <li><strong>Soluții de tratament individualizate</strong> - înțelegem fiecare nevoie și dorință a pacientului, oferindu-i tratament personalizat și îngrijire medicală de calitate înaltă.</li>
                    <li><strong>Tarife accesibile</strong> - tratamente stomatologice pentru toate buzunarele.</li>
                    <li><strong>Plată în rate fără dobândă</strong> - prin colaborarea noastră cu banca "Credit Europe Bank", puteți plăti tratamentele stomatologice cu Card Avantaj, fără o dobândă suplimentară.</li>
                    <li><strong>Garantia lucrarilor efectuate</strong> - scopul garanției este de a-l asigura pe pacient că tratamentele dentare efectuate la clinica noastră sunt sigure, precise și au efect de lungă durată.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


@*<div class="col-sm-2">
        <img src="~/Images/Stoma.png" alt="Imagine dreapta" style="float: left; margin-left: 10px; width: 360px; height: 450px; padding: 20px;">
    </div>*@

<!--<div class="row">
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
